/*====================[UTM Avo]====================*/
@font-face{
  font-family:'Utm-Avo-Regular';
  src:url('../fonts/utm_avo/UTM Avo.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/*====================[UTM Avo]====================*/
@font-face{
  font-family:'Utm-Neutra-Regular';
  src:url('../fonts/utm_neutra/UTM Neutra.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}