.lq-content{
  margin-top: -410px;
  z-index: 2;
  @media(max-width: 960px){
    margin-top: -70px;
  }
}
.lq-box1{
  border: 2px solid #b18130;
}
.lq-nav1{
  margin-left: 0 !important;
  li{
    padding-left: 0;
    &.uk-active{
      a{
        background-color: #ffc348 !important;
        color: #000 !important;
      }
    }
    a{
      @extend .lq-font-utm-neutra-regular;
      background-color: #333e50 !important;
      color: #a8b2d1 !important;
      font-size: 11px !important;
      padding: 5px 12px !important;
      line-height: 1;
    }
  }
}
$w1: 6px;
#lq-block1{
  margin-left: -$w1 !important;
  >*{
    padding-left: $w1;
  }
}
.lq-catalog-txt{
  margin-top: -50px;
  @extend .lq-font-utm-neutra-regular;
  @media(max-width: 560px){
    background-size: contain;
    height: 190px;
  }
  span{
    color: #ffffff;
    font-size: 25px;
    margin-bottom: -10px;
    @media(max-width: 560px){
      font-size: 15px;
      margin-bottom: -5px;
    }
  }
  div{
    font-size: 40px;
    color: #ffc348;
    margin-bottom: -35px;
    @media(max-width: 560px){
      font-size: 25px;
    }

    color: #ffc348;
    line-height: 1.3;
    background: -webkit-linear-gradient(#e9d6b8 20%, #ffc348 70%, #7f6c36 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
  }
}
.lq-card1{
  padding: 8px;
  border: 2px solid #b27010;
  border-bottom: none;
}
.lq-rate{
  bottom: 5px;
  img{
    width: 20px;
  }
}
.lq-txt1{
  font-size: 12px;
  color: #FFFFFF;
}
.lq-code{
  color: #861015;
  font-size: 12px;
}
$wc1: 5px;
.lq-block1{
  @media(max-width: 560px){
    background-image: url("../imgs/bg_m.png") !important;
    background-size: cover !important;
    background-position: center;

    margin-left: -15px;
    margin-right: -15px;
    padding: 15px;
    .uk-grid-small{
      margin-left: -$wc1;
      >*{
        padding-left: $wc1;
      }
    }
    .uk-grid-margin{
      margin-top: 0;
    }
  }
}
.lq-price{
  font-size: 15px;
  @media(max-width: 560px){
    //font-size: 11px;
  }
  div{
    color: #FFFFFF;
    span{
      color: #f5ce68;
    }
    del{
      color: #a5a5a5;
    }
  }
}
.lq-label-box{
  .c1{
    border: 1px solid #b38333;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 114px;
    @media(max-width: 560px){
      width: 78px;
    }
    @media(max-width: 375px){
      width: 68px;
    }
  }
  label{
    text-transform: uppercase;
    @extend .lq-font-utm-neutra-regular;
    font-size: 20px;
    color: #f5ce68;
    @media(max-width: 560px){
      font-size: 12px;
    }
    @media(max-width: 375px){
      font-size: 10px;
    }
  }
  .uk-input{
    background-color: transparent;
    border-color: #b38333;
    margin-left: -1px;
    color: #ffffff;
    @media(max-width: 560px){
      font-size: 9px;
    }
  }
  .uk-button{
    padding: 0 10px;
    margin-left: -1px;
    border-color: #b38333;
    font-size: 15px;
    color: #FFFFFF;
    text-align: left;
    @media(max-width: 560px){
      font-size: 9px;
    }
    img{
      right: 10px;
    }
  }
}
$w2: 5px;
.lq-pagination{
  margin-left: -$w2;
  li{
    padding-left: $w2;
    &:nth-child(n+2){
      &:not(:last-child){
        a{
          background-color: #1a2424;
          display: inline-block;
          padding: 6px 14px;
          border: 1px solid #f5ce68;
          color: #f5ce68;
          font-size: 16px;
          @media(max-width: 560px){
            font-size: 12px;
            padding: 3px 10px;
          }
        }
      }
    }
  }
}
.lq-padding{
  padding: 0 21px;
  @media(max-width: 560px){
    padding-left: 0;
    padding-right: 0;
  }
}
.lq-bottom{
  margin-bottom: 25px !important;
}
.lq-line{
  bottom: -5px;
}
.lq-btn1{
  @extend .lq-font-utm-neutra-regular;
  color: #d1f8ff;
  font-size: 15px;
  padding: 0;
  border: none;
  &:hover{
    span{
      color: #ffc348;
      line-height: 1.3;
      background: -webkit-linear-gradient(#e9d6b8 20%, #ffc348 70%, #7f6c36 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
    }
  }
}
.lq-fillter{
  margin-top: -30px;
  @media(max-width: 560px){
    margin-left: -$w2;
    >*{
      padding-left: $w2;
    }
    .uk-grid-margin{
      margin-top: $w2;
    }
  }
}